/*页面通用样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{ font-family: "微软雅黑"; background-color: #ffffff;width: 100%;}
/*头部css*/
body{background:url(../images/bg.png) repeat; }
.header{width: 100%;height: 130px;-webkit-box-shadow:0px 3px 3px #c8c8c8 inset;-moz-box-shadow:0px 3px 3px #c8c8c8 inset;box-shadow:0px 3px 3px #c8c8c8 inset;border-bottom: 8px solid #1e70ba;}
.header .head_top{height: 40px;width: 100%;background: #404040;margin: 0 auto;overflow: hidden;}
.header .head_top .head_top_content{height: 40px;width: 1200px;background: #404040;margin: 0 auto;overflow: hidden;}
.header .head_top .head_top_content .head_top_left{width:430px;height: 40px;float: left;}
.header .head_top .head_top_content .head_top_right{width:110px;height: 40px;float: right;}
.head_top_left ul{overflow: hidden;}
.head_top_left ul li{height: 18px;float: left;line-height: 18px;color: #919191;padding: 0 16px;border-right: 3px solid #606060;margin-top: 12px;font-family: -webkit-pictograph;}
.head_top_left ul li:hover{color: #fff;-webkit-animation: neon1 1.5s ease-in-out infinite alternate;-moz-animation: neon1 1.5s ease-in-out infinite alternate;animation: neon1 1.5s ease-in-out infinite alternate;  }

.head_top_right span{display: inline;width: 50%;height: 40px;color: #919191;line-height: 40px;padding: 0 10px;font-family: -webkit-pictograph;}
.head_top_right span:hover{color: #fff;}
.head_bottom{width: 1200px;overflow: hidden;margin:0 auto; }
.head_bottomLeft,.head_bottomMiddle,.head_bottomRight{float: left;height: 88px;}
.head_bottomLeft{height: 88px;}
.head_bottomLeft p{font-size: 26px;color: #3a89cf;letter-spacing:2px;margin-top: 26px;font-weight: bold;font-family: "黑体";}
.head_bottomLeft small{color: #3a89cf;}
.head_bottomMiddle ul{overflow: hidden;margin-left: 170px;}
.head_bottomMiddle ul li{height: 88px;float: left;font-size: 20px;color: #333333;font-family: "黑体";margin-left: 46px;line-height: 96px;}
.head_bottomMiddle ul li input{width: 148px;height: 28px;padding-left: 24px;background: #f3f3f3 url(../images/search.png) no-repeat 4px 8px;background-size: 14px 14px; outline: none;border: 1px solid #aaa;border-radius: 6px;color: #a7a7a7;}
.head_bottomMiddle ul li:hover{color:#496177;font-family: "黑体";}
/*字体发光*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
@-o-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               	 0 0 10px #fff,
               	 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
/*底部css*/
.footer{width: 100%;height: 150px;background: #003252;}
.footer_top,.footer_bottom{width: 1200px;margin:0 auto;}
.footer_top{height: 104px;border-bottom: 4px solid #062357;}
.footer_top ul{height: 104px;width: 100%;overflow: hidden;}
.footer_top li{float: left;padding-left: 64px;color: #dde0e3;font-size: 16px;margin-top: 34px;line-height: 24px;margin-left: 82px;}
.footer_top li:nth-child(1){background-size:48px 48px;  background: url(../images/footer1.png) no-repeat;}
.footer_top li:nth-child(2){background-size:48px 48px;  background: url(../images/footer2.png) no-repeat;}
.footer_top li:nth-child(3){background-size:48px 48px;  background: url(../images/footer3.png) no-repeat;}
.footer_top li span{color: #ffffff;font-size: 20px;font-weight: bold;}

.footer_bottom{text-align: center;line-height: 40px;color: #dde0e3;font-size: 15px;}
/*首页内容css*/
.content{width: 1200px;margin: 0 auto;background: url(../images/bg.png) repeat;overflow: hidden;}
.indexC{padding:76px 124px 60px 118px;}
.index_c_left,.index_c_middle,.index_c_right{float: left;}
/*轮播*/
#content{position: relative;width: 100%;height: 400px;background: red;}
.ad{width: 100%;height: 400px;overflow-x: scroll;overflow: hidden;}
.num{position: absolute;}
.num{right: 35px;bottom: 35px;}
.num li{border: 1px solid #aaa;width: 8px;height: 8px; color: white;text-align: center;float: left;margin-left: 15px;}
/*轮播图片*/
.ad .slider li img{width: 100%;height: auto;}
.slider li{float: left;}
.on{background: #3a89cf;}
/*首页新闻*/
.palce10{display: inline-block;width: 6px;height: 10px;}
.indexPublic{width: 380px;-webkit-box-shadow:0 0 10px rgba(104, 109, 109, 0.5);  -moz-box-shadow:0 0 10px rgba(104, 109, 109, 0.5);box-shadow:0 0 10px rgba(104, 109, 109, 0.5); border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;}
.index_c_left{border-top: 8px solid #208cda;margin-top: 30px;}
.index_c_middle{margin-top: 30px;margin-left: 30px;margin-right: 30px;border-top: 8px solid #ee4a61;}
.index_c_right{margin-top: 30px;border-top: 8px solid #5eaa21;}
.indextop{width: 100%;height: 254px;background: #fdfdfd;-webkit-box-shadow: 3px 3px #d2d2d2;-moz-box-shadow: 3px 3px #d2d2d2;box-shadow: 3px 3px #d2d2d2;}
.headlines{font-size:37px;color: #30a2f4;padding-left: 38px;padding-top: 45px;}
.headlines span{font-size:16px;font-weight: bold; }
.headline1{color: #30a2f4;}
.headline2{color: #ee4a61;}
.headline3{color: #5eaa21;}
.SubTitle{padding-top:16px;padding-left: 38px;font-size: 16px;padding-right: 16px;}
.SubTitle p{word-wrap:break-word ;line-height: 30px;}
.colorno1{color: #2a5072;}
.colorno2{color: #832e36;}
.colorno3{color: #357501;}
.palce46{display: inline-block;width: 46px;height: 10px;}
.indexbottom{width: 85.5%;padding: 22px 30px 30px 24px;background: #f7f7f7;margin-top: 3px;}
.listStart1{display: inline-block;width: 2px;height: 12px;background: #3497df;}
.listStart2{display: inline-block;width: 2px;height: 12px;background: #fd6a7f;}
.listStart3{display: inline-block;width: 2px;height: 12px;background: #89d04f;}
.indexList li{width: 320px;margin-top: 22px;font-size: 14px;}
.list1 li p:hover{cursor:pointer;color: #3497df;}
.indexList li.last{text-align: right;}
.list1 li.last:hover{cursor:pointer;color: #3497df;}

.list2 li p:hover{cursor:pointer;color: #fd6a7f;}
.list2 li.last:hover{cursor:pointer;color: #fd6a7f;}

.list3 li p:hover{cursor:pointer;color: #89d04f;}
.list3 li.last:hover{cursor:pointer;color: #89d04f;}

