页面通用样式*/
body/*,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td */{ margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
body{ font-family: "微软雅黑"; background-color: #ffffff;width: 100%;}
/*头部css*/
body{background:url(../images/bg.png) repeat; }
.header{width: 100%;height: 130px;background: #fff; -webkit-box-shadow:0px 3px 3px #c8c8c8 inset;-moz-box-shadow:0px 3px 3px #c8c8c8 inset;box-shadow:0px 3px 3px #c8c8c8 inset;border-bottom: 8px solid #1e70ba;}
.header .head_top{height: 40px;width: 100%;background: #404040;margin: 0 auto;overflow: hidden;}
.header .head_top .head_top_content{height: 40px;width: 1200px;background: #404040;margin: 0 auto;overflow: hidden;}
.header .head_top .head_top_content .head_top_left{width:430px;height: 40px;float: left;}
.header .head_top .head_top_content .head_top_right{width:110px;height: 40px;float: right;}
.head_top_left ul{overflow: hidden;}
.head_top_left ul li{height: 18px;float: left;line-height: 18px;color: #919191;padding: 0 16px;border-right: 3px solid #606060;font-family: -webkit-pictograph;}
.head_top_left ul li:hover{color: #fff;-webkit-animation: neon1 1.5s ease-in-out infinite alternate;-moz-animation: neon1 1.5s ease-in-out infinite alternate;animation: neon1 1.5s ease-in-out infinite alternate;  }

.head_top_right span{display: inline;width: 50%;height: 40px;color: #919191;line-height: 44px;padding: 0 10px;font-family: -webkit-pictograph;}
.head_top_right span:hover{color: #fff;}
.head_bottom{width: 1200px;overflow: hidden;margin:0 auto; }
.head_bottomLeft,.head_bottomMiddle,.head_bottomRight{float: left;height: 88px;}
.head_bottomLeft{height: 88px;position: relative;}
.head_bottomLeft p{font-size: 26px;color: #3a89cf;letter-spacing:2px;margin-top: 26px;font-weight: bold;font-family: "黑体";height: 6px;}
.head_bottomLeft small{color: #3a89cf;display: inline-block;}
.head_bottomMiddle ul{overflow: hidden;margin-left: 120px;}
.head_bottomMiddle ul li{height: 88px;float: left;font-size: 20px;color: #333333;font-family: "微软雅黑";margin-left: 46px;line-height: 96px;}
.head_bottomMiddle ul li input{width: 148px;height: 28px;padding-left: 24px;background: #f3f3f3 url(../images/search.png) no-repeat 4px 8px;background-size: 14px 14px; outline: none;border: 1px solid #aaa;border-radius: 6px;color: #a7a7a7;}
.head_bottomMiddle ul li:hover{color:#5c94c7;font-family: "微软雅黑";}
.head_bottomMiddle ul li.active{color:#5c94c7;}
/*字体发光*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
@-o-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
                 0 0 20px  #fff,
                 0 0 30px  #fff,
                 0 0 40px  #FF1177,
                 0 0 70px  #FF1177,
                 0 0 80px  #FF1177,
                 0 0 100px #FF1177,
                 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff,
               	 0 0 10px #fff,
               	 0 0 15px #fff,
                 0 0 20px #FF1177,
                 0 0 35px #FF1177,
                 0 0 40px #FF1177,
                 0 0 50px #FF1177,
                 0 0 75px #FF1177;
  }
}
/*底部css*/
.footer{width: 100%;height: 150px;background: #003252;}
.footer_top,.footer_bottom{width: 1200px;margin:0 auto;}
.footer_top{height: 104px;border-bottom: 4px solid #062357;}
.footer_top ul{height: 104px;width: 100%;overflow: hidden;}
.footer_top li{float: left;padding-left: 64px;color: #dde0e3;font-size: 16px;margin-top: 34px;line-height: 24px;margin-left: 82px;}
.footer_top li:nth-child(1){background-size:48px 48px;  background: url(../images/footer1.png) no-repeat;}
.footer_top li:nth-child(2){background-size:48px 48px;  background: url(../images/footer2.png) no-repeat;}
.footer_top li:nth-child(3){background-size:48px 48px;  background: url(../images/footer3.png) no-repeat;}
.footer_top li span{color: #ffffff;font-size: 20px;font-weight: bold;}

.footer_bottom{text-align: center;line-height: 40px;color: #dde0e3;font-size: 15px;}
/*首页内容css*/
.content{width: 1200px;margin: 0 auto;background: url(../images/bg.png) repeat;overflow: hidden;}
.indexC{padding:76px 124px 60px 118px;}
.index_c_left,.index_c_middle,.index_c_right{float: left;}
/*首页新闻*/
.palce10{display: inline-block;width: 6px;height: 10px;}
.indexPublic{width: 380px;-webkit-box-shadow:0 0 10px rgba(104, 109, 109, 0.5);  -moz-box-shadow:0 0 10px rgba(104, 109, 109, 0.5);box-shadow:0 0 10px rgba(104, 109, 109, 0.5); border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;}
.index_c_left{border-top: 8px solid #208cda;margin-top: 30px;background: #fdfdfd;}
.index_c_middle{margin-top: 30px;margin-left: 30px;margin-right: 30px;border-top: 8px solid #ee4a61;background: #fdfdfd;}
.index_c_right{margin-top: 30px;border-top: 8px solid #5eaa21;background: #fdfdfd;}
.indextop{width: 100%;height: 254px;background: #fdfdfd;-webkit-box-shadow: 3px 3px #d2d2d2;-moz-box-shadow: 3px 3px #d2d2d2;box-shadow: 3px 3px #d2d2d2;}
.headlines{font-size:37px;color: #30a2f4;padding-left: 38px;}
.headlines span{font-size:16px;font-weight: bold; }
.indexList{padding-left: 0;}
.headline1{color: #30a2f4;}
.headline2{color: #ee4a61;}
.headline3{color: #5eaa21;}
.SubTitle{padding-top:16px;padding-left: 38px;font-size: 16px;padding-right: 16px;}
.SubTitle p{word-wrap:break-word ;line-height: 30px;}
.colorno1{color: #2a5072;}
.colorno2{color: #832e36;}
.colorno3{color: #357501;}
.palce46{display: inline-block;width: 46px;height: 10px;}
.indexbottom{width: 85.5%;padding: 22px 30px 30px 24px;background: #f7f7f7;margin-top: 3px;}
.listStart1{display: inline-block;width: 2px;height: 12px;background: #3497df;}
.listStart2{display: inline-block;width: 2px;height: 12px;background: #fd6a7f;}
.listStart3{display: inline-block;width: 2px;height: 12px;background: #89d04f;}
.indexList li{width: 320px;margin-top: 22px;font-size: 14px;}
.list1 li p:hover{cursor:pointer;color: #3497df;}
.indexList li.last{text-align: right;}
.list1 li.last:hover{cursor:pointer;color: #3497df;}

.list2 li p:hover{cursor:pointer;color: #fd6a7f;}
.list2 li.last:hover{cursor:pointer;color: #fd6a7f;}

.list3 li p:hover{cursor:pointer;color: #89d04f;}
.list3 li.last:hover{cursor:pointer;color: #89d04f;}
/*关于我们*/
.publicContent{width: 100%;position: relative;}
.publicContent .publicC_top img{width: 100%;height: auto;}
.publicC_{width: 1200px;min-height: 2340px;}
.publicC_show{width: 1200px;margin: 0 auto;background: #f8fbff;margin-bottom: 200px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;position: relative;top: -40px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;-o-border-radius: 10px;border-top: 10px solid #3a89cf;}
.aboutUs{padding: 0px 86px 80px 86px;width: 1028px;}
.aboutUs .headline{width: 100%;height: 50px;background: url(../images/about.png) no-repeat;background-size: 100% 100%; text-align: center;color: #ffffff;font-size: 25px;line-height: 50px;margin-top: 140px;}
.aboutUs .particular{margin-top: 50px;font-size: 16px;color: #555555;margin-bottom: 44px;}
.aboutUs .particular p{text-indent: 2em;margin-top: 40px;}
.timeList{margin-top: 60px;overflow: scroll;overflow: hidden;}
.timeList ul{width: 1028px;height: 70px;}
.timeList ul li{float: left;position: relative;width: 160px;height: 56px;font-size: 14px;color: #a7a8a9;}
.timeList ul li:after{
	content: "";
    width: 166px;
    height: 0px;
    border-bottom: 2px dashed #dfe0e2;
    position: absolute;
    left: 8px;
    bottom: 0;
    z-index: 2;}
.timeList ul li span{display: inline-block;width: 20px;height: 20px;
	background: -webkit-repeating-linear-gradient(white, gray 20%, black 10%);
  	/* Opera 11.1 - 12.0 */
 	background: -o-repeating-linear-gradient(white, gray 100%, black 10%);
 	/* Firefox 3.6 - 15 */
  	background: -moz-repeating-linear-gradient(white, gray 100%, black 10%);
  /* 标准的语法 */
  	background: repeating-linear-gradient(white, gray 100%, black 10%);
	border-radius: 50%;position: absolute;bottom: -8px;left: 8px;z-index: 10;-webkit-box-shadow: 3px 3px #d2d2d2;-moz-box-shadow: 3px 3px #d2d2d2;box-shadow: 3px 3px #d2d2d2;}
.timeList ul li span.active{
	background: -webkit-repeating-linear-gradient(white, #ff9800 20%, black 10%);
	/* Opera 11.1 - 12.0 */
	background: -o-repeating-linear-gradient(white, #ff9800 100%, black 10%);
	/* Firefox 3.6 - 15 */
	background: -moz-repeating-linear-gradient(white, #ff9800 100%, black 10%);
	/* 标准的语法 */
	background: repeating-linear-gradient(white, #ff9800 100%, black 10%);
}
.timeStart{color: #ff9800;}
.historyList{overflow: scroll;overflow: hidden;}
.historyList .inner{width: 3084px;}
.historyList .particular{ width: 1028px; float: left;}
/*办事处*/
.officeHeadline{color: #6fa4d9;font-size: 40px;margin-bottom: 55px;}
.officeAd{height:210px;width: 100%;margin-top: 100px;overflow: hidden;}
.address{width: 322px;height: 210px;opacity: .5;float: left;border-radius: 10px;text-align: center;color: #ffffff;}
.address span{font-size: 36px;display: inline-block;margin-top: 80px;}
.address a{color: #ffffff;font-size: 16px;}
.address1{background: url(../images/lunbo1.png) no-repeat;}
.address2{background: url(../images/lunbo1.png) no-repeat;margin-left:20px;margin-right: 20px;}
.address3{background: url(../images/lunbo1.png) no-repeat;}
/*详细地址介绍*/
.detailedAd{overflow: hidden;}
.detailedAdT{height: 100px;background: #31b3f1;width: 1200px;-webkit-box-shadow: 3px 3px #d2d2d2;-moz-box-shadow: 3px 3px #d2d2d2;box-shadow: 3px 3px #d2d2d2;}
.detailedAdT span:nth-child(1){ font-size: 16px;color: #ffffff;display: inline-block;margin-left: 52px;line-height: 100px;}
.detailedAdT span:nth-child(2){font-size: 34px;color: #ffffff;margin-left: 374px;display: inline-block;}
.detailedAdL{width: 672px;min-height: 500px;float: left;padding-left: 84px;padding-right: 54px;}
.detailedAdR{width: 274px;min-height: 500px;background: yellow;float: left;background: #eff5fd;border-radius: 4px;margin-top: 120px;margin-bottom: 64px;}
.AdLHeadline{display: inline-block;width: 100%;height: 28px;border-left: 4px solid #3a89cf;font-size: 22px;color: #3a89cf;margin-top: 64px;line-height: 28px;padding-left: 22px;}
.detailedAdL h6,.detailedAdL p{font-size: 16px;color: #737374;margin-top: 28px;}
.detailedAdL p{text-indent: 2em;}
.detailedAdR .site{padding-bottom: 26px;border-bottom: 1.5px dashed #5d9ad5;padding-left: 20px;padding-right: 20px;}
.detailedAdR h4{font-size: 16px;color: #5d9ad5;margin-top: 26px;}
.detailedAdR .site h6{font-size: 14px;color: #666666;margin-top: 18px;}
.detailedAdR .site p{font-size: 14px;color: #666666;margin-top: 35px;text-indent: 2em;}
.detailedAdR .correlation{padding-bottom: 18px;padding-left: 20px;padding-right: 20px;}
.detailedAdR .correlation p{font-size: 12px;color: #666666;display: inline;}
.borBom{border-bottom: 1.5px dashed #5d9ad5;}
.vertical{display: inline-block;width: 3px;height: 10px;background: #3a89cf;margin-right: 4px;}
.detailedAdR .correlation div{margin-top: 30px;}
.detailedAdR .correlation div.lookAll{text-align: right;}
.detailedAdR .correlation div.lookAll a{text-align: right;font-size: 12px;color:#3a89cf; }
/*业务领域*/
.business{width: 1040px;padding-left: 84px;padding-right: 76px;padding-bottom: 50px;}
.businessTop{width: 100%; padding-bottom: 48px;border-bottom: 1px solid #c2c2c2;}
.businessTop h2{font-size: 38px;margin-bottom: 40px;margin-top: 88px;color: #4e92d2;}
.businessTop p{font-size: 18px;color: #333333;}
.businessBotm{width: 1040px;overflow: hidden;min-height: 500px;}
.businessBotmL,.businessBotmR{width: 48%;float: left;min-height: 300px;}
.businessBotmR{margin-left: 4%;}
.businessBotm .businessInfo{margin-top: 60px;}
.businessBotm .businessInfo h3{font-size: 22px;color: #333333;line-height: 60px;}
.businessBotm .businessInfo p{color: #8a8b8c;font-size: 18px;}
.businessBotm .businessInfo ul{margin-left: -20px;}
.businessBotm .businessInfo ul li{list-style:disc;color: #3a89cf;font-size: 15px;margin-top: 20px; }
.businessBotm .businessInfo ul a{color: #3a89cf;}
/*业务详解*/
.businessL{width: 340px;float: left;padding-right: 0;}
.businessL span{font-size: 16px;color: #666666;display: block;margin-top: 34px;margin-bottom: 144px;}
.businessL ul{margin-left: -20px;}
.businessL ul li{list-style:disc;color: #999999;font-size: 15px;margin-top: 20px;}
.businessM{width: 346px;min-height:200px;float: left;margin-top: 32px; margin-bottom: 60px;}
.businessM ul{margin-left: -20px;}
.businessM ul li{list-style:disc;color: #3a89cf;font-size: 15px;margin-top: 20px; 	}
.businessT{width: 704px;height: 164px;margin-top: 100px;float:left;}
.businessT h1{font-size: 38px;color: #666666;}
.businessT h4{font-size: 18px;color: #666666;}
.businessR{margin-top: 32px;margin-left: 45px;width: 314px;}
.businessMshow h4{font-size: 19px;color: #3a89cf;}
.detailedAdL ul li.active{color: #3a89cf;}
/*专业人员*/
.careerman{width: 1028px;}
.careerman h1.careermanHead{border-left: none;padding-left: 0;font-size: 38px;}
.careerman h6{font-size: 18px;line-height: 30px;}
.careerman .search{color: #333333;font-size: 24px;}
.letter{overflow: hidden;margin-left: -20px;height: 28px;margin-top: 20px;}
.letter li{float: left;font-size:20px; height: 26px;width: 17px;margin-right:10px; text-align:center;border-bottom: 1px solid rgba(58, 137, 207, 0.03);}
.letter li:hover{color: #3a89cf;border-bottom: 1px solid #3a89cf;cursor:pointer;}
.advancedSearch{overflow: hidden;width: 100%;}
.advancedSearch div.SearchOptions{width: 248px;height: 80px;margin-right: 70px;float: left;color: #8a8b8c;font-size: 18px;line-height: 34px;}
.advancedSearch div.SearchOptions input{outline: none;width: 242px;height: 30px;color:black;font-size: 16px;border-radius:4px;  }
/*高级搜索 首字母*/
/*.advancedSearch{overflow: hidden;}*/
.advancedSearch h2{font-size: 16px;color: #666666;display: inline-block;margin-top: 30px;width: 100%;}
.advancedSearchL{width: 255px;min-height: 500px;float: left;margin-top: 30px;}
.advancedSearchR{width: 788px;min-height: 500px;float: left;margin-left: 60px;margin-top: 30px;}
.advancedSearchL .initial{height: 190px;padding: 0 20px; border:2px solid #cccccc;  border-top: 6px solid #31b3f1;border-radius: 4px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;background: #f5f5f5;}
.advancedSearchL .Maxthon{height: 324px; margin-top: 52px; border-radius: 4px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;
background: -webkit-repeating-linear-gradient(rgba(40, 201, 222, 0.65), rgba(3, 169, 244, 0.89) 100%, #2196F3 10%);
 /* Opera 11.1 - 12.0 */
background: -o-repeating-linear-gradient(rgba(40, 201, 222, 0.65), rgba(3, 169, 244, 0.89) 100%, #2196F3 10%);
 /* Firefox 3.6 - 15 */
background: -moz-repeating-linear-gradient(rgba(40, 201, 222, 0.65), rgba(3, 169, 244, 0.89) 100%, #2196F3 10%);
/* 标准的语法 */
background: repeating-linear-gradient(#28c9de, rgba(3, 169, 244, 0.89) 100%, #2196F3 10%);
-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;
padding: 0 20px;
}
.advancedSearchR .advancedSearchRtop{padding-left: 30px; height: 65px;background: #31b3f1;border-top: 6px solid #31b3f1;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;}
.advancedSearchR .tableList{width: 100%;height: 1050px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;}
.initial h3{font-size: 18px;color: #3a89cf;font-weight: bold;margin-top: 22px;}
.initial .letter{height: 120px;margin-top: 10px;margin-left: -38px;}
.initial .letter li{margin-top: 10px;width: 12px;}
.Maxthon h3{font-size: 18px;color: #fff;font-weight: bold;margin-top: 22px;display: inline-block;}
.Maxthon ul{margin-left: -40px;margin-top: -20px;}
.Maxthon .search{margin-top: 24px;font-size: 14px;color: #fff;font-weight: bold;line-height: 20px;}
.Maxthon .search input{width: 190px;height: 28px;padding-left: 24px;margin-top: 6px;background: #f3f3f3 url(../images/search.png) no-repeat 4px 8px;background-size: 14px 14px;outline: none;border: 1px solid #aaa;border-radius: 4px;color: #3e3a3a;}
.advancedSearchRtop{font-size: 22px;color: #fff;line-height: 65px;}
.SearcP{display: inline-block;width: 40px;height: 30px;}
.tableList table tr th{height: 86px;background: #fff;text-align: center;font-size: 18px;color: #333333;}
.tableList table tr td{height: 70px;text-align: center;font-size: 14px;}
.tableList .Page{height: 36px;width: 790px;margin-top: 40px;text-align: center;line-height: 40px;}
.tableList .Page span{font-size: 16px;display: inline-block;width: 20px;}
.tableList .Page span:hover{cursor: pointer;}
.tableList .Page span.active{color: #007af7;}
/*高级搜索 姓氏*/
.searchName{width: 810px;margin-top: 10px;}
.searchName .referral{width: 810px;height: 206px;overflow: hidden;}
.searchName .referral dt{width: 142px;height: 186px;float: left;}
.searchName .referral dt img{width: 142px;height: 186px;}
.searchName .referral dd{width: 300px;height: 36px; margin-left: 172px;font-size: 16px;color: #999999;}
.searchName .referral dd.Lawyer{font-size: 26px;margin-top: 20px;color: #3c3c3c;line-height: 26px;}
.experience{width: 810px;}
.experience p{width: 810px;font-size: 15px;color: #3c3c3c;margin-top: 40px;text-indent: 0;font-weight: bold;}
.lawExperience{width: 800px;padding-left: 10px;overflow: hidden;margin-top: 50px;}
.lawExperience .lawExpL{width: 510px;height: 842px;border: 2px solid rgba(68, 62, 62, 0.43);float: left;margin-bottom: 28px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;}
.lawExperience .lawExpR{width: 256px;min-height: 800px;float: right;background: #f8fbff;}
.lawExperience .lawExpL .tab{width: 510px;height: 40px;background: #f1f1f1;}
.lawExperience .lawExpL .tab span{display: inline-block;width: 252px;height: 40px;text-align: center;line-height: 40px;font-size: 16px;color: #999999;font-weight: bold;border-bottom: 4px solid #fffefe;}
.lawExperience .lawExpL .tab span:hover{cursor: pointer;}
.lawExperience .lawExpL .tab span.active{border-bottom: 4px solid #3a89cf;color: #3a89cf;}
.lawExperience .lawExpL .lawshow{width: 510px;height: 800px;margin-top: 4px;overflow: scroll;overflow: hidden;}
.lawExperience .lawExpL .lawshow .lawinner{height: 800px;width: 1020px;overflow: height: ;}
.lawExperience .lawExpL .lawshow .Survey{width: 510px;height: 800px;float: left;}
.lawExperience .lawExpL .lawshow .Lawnew{width: 510px;height: 800px;float: left;}
.lawExperience .lawExpL .lawshow .Survey .Surveylist{width: 470px;padding-right: 20px;padding-left: 20px;margin-top: 56px;}
.lawExperience .lawExpL .lawshow .Survey .Surveylist h3{font-size: 15px;color: #333333;font-weight: bold;text-indent: 1em;}
.lawExperience .lawExpL .lawshow .Survey .Surveylist p{font-size: 15px;color: #999999;font-weight: bold;text-indent: 0;margin-top: 20px;line-height: 34px;}
.lawExperience .lawExpR .detail{width: 100%;height: 258px;-webkit-box-shadow: 0 0 20px #d2d2d2;-moz-box-shadow: 0 0 20px #d2d2d2;box-shadow: 0 0 20px #d2d2d2;}
.lawExperience .lawExpR .mat{margin-top: 36px;}
.lawExperience .lawExpR .detail span.detailTop{display: inline-block;width: 490px;  height: 40px;padding-left: 20px;color: #3a89cf;background:#f1f1f1;line-height: 40px;font-size: 16px;font-weight: bold; }
.lawExperience .lawExpR .detail .detailshow{margin:0;padding-left: 20px;padding-right: 20px; text-indent: 0;line-height: 30px;font-size: 16px;color:  #a9a9a9;}
.patop24{padding-top: 24px;}
.patop14{padding-top: 14px;}

